# Python virtual environments
.venv/
venv/

*.zip
*.7z
*.rar

.checkpoints/
checkpoints/

.01_touhou_ai.zip

## png가 대량 저장된 폴더는 제외외
vision/datasets/raw_playfield
**/pyvenv.cfg
#GGG
# venv 내부(혹시 venv 폴더를 다른 이름으로 써도)
**/Lib/
**/lib/
**/Scripts/
**/scripts/
**/Include/
**/include/
**/share/
**/Site-packages/
**/site-packages/

# Python cache / build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib

build/
dist/
*.egg-info/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs (원하면)
*.log
